.project {
	background-position : 3px 3px !important;
	background-repeat   : no-repeat !important;
	border-bottom-color : #004b5f !important;
	border-color        : #005b72 !important;
	float               : right;
	font-size           : 11px;
	line-height         : 16px;
	padding             : 0 4px!important;
	text-align          : right;
}

.project:empty {
	display: none;
}
